button {
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #ebc430;
  cursor: pointer;
  color: #ebc430;
  background: none;
  font-weight: bold;
}

.white {
  background: white;
}
.black {
  background: #1c1f24;
}

.navbar {
  width: 100%;
  height: 79px;
  background-color: #272a35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.inputSection {
  width: 20%;
  display: flex;
  align-items: center;
}
.inputSection input {
  height: 40px;
  width: 80%;
  padding: 15px 45px;
  border: none;
  background: #1c1f24;
  border-radius: 20px;
  color: #ebc430;
}
.inputSection .icon {
  color: #ebc430;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  left: -45px;
  cursor: pointer;
}

.logoSection {
  width: 20%;
  position: relative;
  /* display: flex; */
}
.logoSection img {
  width: 60%;
  position: relative;
  /* top: 20px;
  z-index: 10; */
  margin-left: 10px;
}
/* .trapezoid {
  background: #272a35;
  width: 70%;
  height: 300px;
  position: absolute;
  top: 115px;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 65% 13%, 29% 13%);
} */

.navButtonsSection {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.depositBtn {
  background-color: #ebc430;
  color: black;
}

.heroBg {
  width: 100%;
  min-height: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.heroBg img {
  width: 90%;
  height: 350px;
  display: block;
  margin: auto;
  cursor: pointer;
}
.exchange-casino {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.exchangeBtn,
.casinoBtn {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border: 1px solid #ec6618;
}
.exchangeBtn img,
.casinoBtn img {
  width: 40px;
}
.exchangeBtn p,
.casinoBtn p {
  font-size: 1.2rem;
}
.exchangeBtnDark,
.casinoBtnColorDark {
  color: #ebc430;
}
.exchangeBtnLight,
.casinoBtnLight {
  color: black;
}
.gameType {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin: 25px auto;
}
.gameType button {
  border: 1px solid #ec6618;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.gameTypeDark {
  color: white;
}
.gameTypeLight {
  color: black;
}

.teenPatigame {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;

  gap: 15px;
  padding: 25px 20px;
  overflow-x: auto;
}
.teenPatigame div {
  padding-bottom: 30px;
  /* background-color: red; */
}
.teenPatigame div img {
  width: 300px;
}

.cricketSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  min-height: 200px;
  margin: auto;
  padding: 20px 0;
}
.cricketHeading {
  width: 100%;
  background: #272a35;
  color: white;
  display: flex;
  justify-content: left;
  gap: 5px;
  padding: 20px;
  border-radius: 20px;
}
.cricketContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* min-height: 200px; */
  /* background-color: white; */
}
.cricketContent1 {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
  /* background: white; */
}
.inPlay {
  width: 55%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: red; */
}
.inPlay p {
  color: #ebc430;
}
.inPlayBtn {
  width: 80px;
  height: 30px;
  padding: 5px 8px;
  background-color: #03a155;
  color: white;
  border-radius: 5px;
}

.cricketScore {
  display: flex;
  gap: 10px;
  width: 40%;
  justify-content: flex-end;
  /* background: green; */
}
.cricketScore div {
  height: 35px;
  width: 60px;
  padding: 5px 8px;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueScore {
  background: #9db0e0;
}
.pinkScore {
  background: #e88fd0;
}
.topProvider,
.virtualSports,
.sportBook {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
  padding: 20px 0;
}
.providerImg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}
.providerContent,
.virtualSportContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.providerContent p,
.virtualSportContent p,
.sportBookContent p {
  font-size: 1.2rem;
  color: #ebc430;
  font-weight: bold;
}
.providerImg img {
  width: 100%;
}

.virtualSportContent,
.sportBookContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.virtualSportCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
}

.card1 {
  width: 100%;
  background: rgba(236, 102, 24, 0.3);
  border-radius: 10px;
  padding: 3px;
}
.card1 img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card1 div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a2a3a5;
  background: #272a35;
  padding: 5px;
}
.card1HP {
  margin-top: -6px;
  margin-bottom: 1px;
  border-radius: 0 0 10px 10px;
}
.card1HP h3 {
  font-size: 18px;
}
.card1HP p {
  font-size: 12px;
}

.sportBook .sportCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.sportCard1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  /* height: 150px;
  width: 150px; */
  padding: 20px 0;
  border: 1px solid #ec6618;
  background-color: #272a35;
  border-radius: 20px;
}
.sportCard1 h3 {
  font-size: 1.2rem;
}
.sportCard1 img {
  width: 80px;
}

/* .footer {
  
} */

.footerDark {
  color: #ebc430;
}
.footerLight {
  color: #1c1f24;
}

.footerDiv {
  border-top: 1px solid #ebc430;
  border-bottom: 1px solid #ebc430;
}
.footerDivInner {
  width: 90%;
  /* border-top: 1px solid #ebc430;
  border-bottom: 1px solid #ebc430; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px 20px;
  margin: auto;
}
.footerDiv1 {
  /* color: #ebc430; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.secureBox {
  display: flex;
  gap: 5px;
  color: white;
}
.secureBox p {
  font-size: 1rem;
}
.responsibleGame {
  display: flex;
  gap: 2px;
}
.responsibleGame img {
  width: 40px;
}
.footerDiv2,
.footerDiv3 {
  padding-top: 40px;
}
.footerDiv2 ul,
.footerDiv3 ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* color: #ebc430; */
  list-style: none;
}
.footerDiv2 ul h3,
.footerDiv3 ul h3 {
  margin-bottom: 25px;
}
/* .footerDiv2 ul li,
.footerDiv3 ul li {
  color: white;
} */

.footerDiv4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.socialIcon {
  display: flex;
  gap: 15px;
}

.paymentDark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background: #1c1f24;
  padding: 15px;
}
.paymentLight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
  background: #1c1f24;
  border-radius: 10px;
  padding: 15px;
}
.disclaimer {
  text-align: center;
  color: white;
  font-size: 12px;
  width: 60%;
  margin: auto;
  padding: 20px 0;
}
.copyRight {
  width: 100%;
  background: #353535;
  text-align: center;
  color: white;
  padding: 20px 0;
}
.copyRight p {
  width: 85%;
  margin: auto;
}
.copyRight p span {
  color: #ebc430;
}

@media (max-width: 960px) {
  .inputSection {
    width: 25%;
  }
  .navButtonsSection {
    width: 55%;
  }
}
@media (max-width: 815px) {
  .cricketContent1 {
    flex-direction: column;
  }
  .inPlay {
    width: 100%;
  }
  .inPlay p {
    font-size: 12px;
  }
  .cricketScore {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 712px) {
  .inputSection {
    display: none;
  }
  .navButtonsSection button {
    font-size: 10px;
  }
  .navButtonsSection {
    width: 80%;
    justify-content: right;
    gap: 5px;
  }
  .logoSection img {
    height: 180px;
    width: 200px;
  }
  .heroBg img {
    width: 90%;
    height: 250px;
  }
  .gameType {
    overflow: auto;
  }
  .teenPatigame div {
    padding-bottom: 30px;
    /* background: red; */
  }
  .teenPatigame div img {
    width: 130px;
    border-radius: 15px;
  }
  .card1HP h3,
  .card1HP p {
    font-size: 12px;
  }
  .cricketScore div {
    height: 25px;
    width: 30px;
    padding: 5px 8px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

@media (max-width: 448px) {
  /* .btn_last {
    display: none;
  } */
  .navButtonsSection button {
    padding: 9px 6px;
  }
  .logoSection img {
    width: 100%;
  }
  .heroBg {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .heroBg img {
    height: 150px;
  }
  .exchangeBtn img,
  .casinoBtn img {
    width: 30px;
  }
  .exchangeBtn p,
  .casinoBtn p {
    font-size: 1rem;
  }
  .inPlay p {
    font-size: 9px;
  }
  .disclaimer {
    width: 80%;
  }
}
